.metadata/
.recommenders/
Chpt2_Project/
Chpt2_Tutorial/
Chpt3_Project/
Chpt3_Tutorial/
Chpt4_Project/
Chpt4_Tutorial/
Chpt5_Project/
Chpt5_Tutorial/
Chpt6_Project/
Chpt6_Tutorial/
Chpt7_Project/
Chpt7_Tutorial/
Chpt8_Project/
Chpt8_Tutorial/
Demo/
comboniations/
play/
practice/
Perez_01/
perez_02/
bin/
.settings/
.gitignore/
.classpath/